# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

will-delete/

firebase-service-account.json

# Expo
.expo
dist/
web-build/
expo-env.d.ts

# Native
/android
.kotlin/
/android/.gradle
/android/build/
/android/app/build/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env

# Security files
*.key
*.pem
*.p12
*.jks
secrets/

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android
